<div class="container">
  <div class="card">
    <article class="card-group-item">
      <header class="card-header">
        <h1 class="title text-center"><i class="fa fa-file-text-o text-primary"></i> {{ title }}</h1>
      </header>
      <div class="filter-content">
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <form (submit)="addTask()" class="form-horizontal" action="" method="post">
                <div class="form-group">
                  <input type="text" name="txtTodo" value="" class="form-control" [(ngModel)]="task">
                </div>
                <button type="button" name="button" class="btn btn-primary btn-block" (click)="addTask()">Add
                  Task</button>
              </form>
            </div>
            <div class="col-md-6">
              <div class="card">
                <header class="card-header bg-success">
                  <h4 class="text-center text-uppercase">
                    Total Tasks <span class="badge badge-danger round">{{ countTask }}</span>
                  </h4>
                </header>
                <div class="card-body">
                  <div class="list-group list-group-flush">
                    <div *ngFor="let task of TaskList; let i=index" class="list-group-item">{{ i+1 }} - {{ task }}
                      <button class="btn btn-danger btn-sm float-right" (click)="removeTask(i)">
                        <i class="fa fa-times-circle" aria-hidden="true"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div> <!-- card.// -->
            </div>
          </div> <!-- row.// -->
        </div> <!-- card-body.// -->
      </div>
    </article> <!-- card-group-item.// -->
  </div> <!-- card.// -->
</div>
